.cardContainer{
    padding: 12px;
    background-color: #fff;
    max-width: 300px;
    border-radius: 12px;
    /* max-height: 460px; */
}
.imageContainer{
    background-color: #ccc;
    min-height: 265px;
    max-height: 265px;
    /* height: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 100%;
    /* width: 100%; */
}
.title{
    color: #4c4e8e;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
}
.right{
    font-size: 14px;
    color: #70709c;
    font-weight: 600;
    margin-left: 5px;
}
.left{
    font-weight: 700;
    font-size: 14px;
}